header {
    background-size: 100% 100%;
    background-color:mediumblue;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header * {
    color: floralwhite;
}

header {
    font-family: cursive;
}

.body-layout-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.body-layout-flex-item-first{
    flex: 0 0 20%;
}

.body-layout-flex-item-last {
    flex: 0 0 20%;
}

header + .body-layout-flex-container > .body-layout-flex-item-first {
    border-right-style: solid;
    border-right-color: midnightblue;
    border-right-width: thin;
}

.body-layout-flex-item {
    flex: 1 1 auto
}

.menu-flex-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu-flex-item {
    flex: 0 1 auto;
    padding: 30px;
    text-align: left;
    
}

.menu-flex-item a {
    padding-left: 5px;
}

#contact {
font-size: small;
font-family: cursive;
}

#certifications ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0;
}

#certifications ul li {
line-height: 1.7;
}

.img-wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    color: black;
}

body .content-wrapper {
    padding: 0;
}

.thumb-nail {
    height: 50px;
    width: 50px;
}

.contact-me-image-container {
    height: 30px;
    width: 30px;
    align-content: center;
}

.contact-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-flex-item {
    padding : 10px
}

h2.section-title {
    font-family: cursive;
}